@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.grad {
  height: calc(100vh - 3.5rem);
}

.toggle {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .toggle {
    transform: translateX(-300px);
  }
}

nav {
  transition: transform 0.6s ease;
  /* transform: translateX(-300px); */
}

.acrd-list {
  transition: all 0.6s ease;
}

.container-item {
  transition: margin 0.6s ease;
}

@media (min-width: 786px) {
  .mleft-32 {
    margin-left: -6rem !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1cd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.535);
}
