@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.grad {
  height: calc(100vh - 3.5rem);
}

nav {
  transition: transform 0.6s ease;
  /* transform: translateX(-300px); */
}

.acrd-list {
  transition: all 0.6s ease;
}

.container-item {
  transition: margin 0.6s ease;
}

@layer base {
  @media (min-width: 768px) {
    .active {
      @apply -translate-x-0;
    }
    .un {
      @apply -translate-x-96;
    }
  }

  .active {
    @apply -translate-x-96;
  }

  .closed {
   @apply opacity-0 py-0 h-0
  }

  .high{
    
  }
  .medium{

  }
  .low{

  }
}

@media (min-width: 786px) {
  .mleft-32 {
    margin-left: -6rem !important;
  }
  /* .active{
    transform: translateX(-0.1rem);
  }
  .un{
  transform: translateX(-15rem);

  } */
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1cd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.535);
}
